#root {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#tile-map-container {
  /* opacity: 0.85; */
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#tile-map {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.tile-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
  text-align: center;
  overflow-wrap: break-word;
  opacity: 0.5;
}

.tile-data {
  position: absolute;
  height: inherit;
  width: inherit;
  color: #111;
  font-size: 6pt;
  clip-path: polygon(70% 5%, 92.5% 50%, 70% 95%, 30% 95%, 7.5% 50%, 30% 5%);
}

.tile-border {
  top: 0px;
  left: 0px;
  position: absolute;
  height: inherit;
  width: inherit;
  pointer-events: none;
  opacity: 1;
  pointer-events: none;
}

.upperTileEdge {
  position: absolute;
  top: -100vh;
  left: -100vw;
  width: 300vw;
  height: 110vh;
  background-color: #000;
}
.leftTileEdge {
  position: absolute;
  top: -100vh;
  left: -100vw;
  width: 110vw;
  height: 300vh;
  background-color: #000;
}
.lowerTileEdge {
  position: absolute;
  top: 140vh;
  left: -100vw;
  width: 300vw;
  height: 100vh;
  background-color: #000;
}
.rightTileEdge {
  position: absolute;
  top: -100vh;
  left: 150vw;
  width: 100vw;
  height: 300vh;
  background-color: #000;
}
