#root {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 1200px;
  height: 750px; */
}

#tile-map-container {
  /* opacity: 0.85; */
  /* position: absolute; */
  width: fit-content;
  height: fit-content;
}

#tile-map {
  pointer-events: none;
}

.tile {
  opacity: 0.5;
  background-color: black;
  position: absolute;
  pointer-events: none;
  clip-path: polygon(75% 0%, 99% 50%, 75% 99%, 25% 99%, 1% 50%, 25% 0%);
  text-align: center;
  font-size: 7pt;
  color: white;
  overflow-wrap: break-word;
}

.tile-border {
  content: '';
  display: block;
  top: 0px;
  left: 0px;
  position: absolute;
  height: inherit;
  width: inherit;
  pointer-events: none;
  clip-path: polygon(75% 0%, 99% 50%, 75% 99%, 25% 99%, 1% 50%, 25% 0%);
  opacity: 1;
}
