#root {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid #5b5;
  width: 2000px;
  height: 1500px;
}


#tile-map-container {
  position: absolute;
  border: 15px solid #383;
  width: fit-content;
  height: fit-content;
  background-color: grey;
}

#tile-map {
  pointer-events: none;
  border: 15px solid #252;
}


.tile {
  position: absolute;
  pointer-events: none;
}
